.meetpageBackground{
    $color : #F3FBFF;
    background-color: $color;
    //border: 1px solid black;
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    //align-items: center;
    .head-body-functions{
        .head{
            //border:1px solid black;
            height: 8%;
            display: flex;
            align-items: center;
            .logo{
                //border:1px solid black;
                width:70px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left:5px;
                .logoImage{
                    height: 50px;
                }
            }
            .title{
                //border: 1px solid black;
                font-family: RacingSansOne-Regular;
                font-size: 40px;
                color:#2C90C8;
                margin-left:5px;
            }
        }
        .body{
            //border:1px solid black;
            height:82%;
            display:flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-right:10px;
            .peer1Video{
                border:1px solid black;
                height: 650px;
                width: 650px;
                margin-right: 90px;
                border-radius: 20px;
            }
            .peer2Video{
                border:1px solid black;
                height: 650px;
                width: 650px;
                margin-left: 90px;
                border-radius: 20px;
            }
        }
        .functions{
            //border: 1px solid black;
            height: 9%;
            display:flex;
            justify-content: center;
            align-items: center;
            .cameraBtnDiv{
                padding-left:30px;
                padding-right:30px;
                //border: 1px solid black;
                .cameraBtn{
                    width:75px;
                    height: 59px;
                    border-radius: 20px;
                    border:0;
                    background-color: #A3D0F1;
                    .cameraIcon{
                        color: white;
                        width: 40px;
                        height : 36px;
                    }
                }
            }
            .micBtnDiv{
                padding-left:30px;
                padding-right:30px;
                //border: 1px solid black;
                .micBtn{
                    width:75px;
                    height: 59px;
                    border-radius: 20px;
                    border:0;
                    background-color: #A3D0F1;
                    .micIcon{
                        color: white;
                        width: 35px;
                        height : 31px;
                    }
                }
            }
            .textBtnDiv{
                padding-left:30px;
                padding-right:30px;
                //border: 1px solid black;
                .textBtn{
                    width:75px;
                    height: 59px;
                    border-radius: 20px;
                    border:0;
                    background-color: #A3D0F1;
                    .textIcon{
                        color: white;
                        padding-top:5px;
                        width: 35px;
                        height : 31px;
                    }
                }
            }
            .endBtnDiv{
                padding-left:30px;
                padding-right:30px;
                //border: 1px solid black;
                .endBtn{
                    width:75px;
                    height: 59px;
                    border-radius: 20px;
                    border:0;
                    background-color: #CD0000;
                    .endIcon{
                        color: white;
                        width: 40px;
                        height : 36px;
                    }
                }
            }
        }
    }
    .chatBox {
        display: none;
        width: 0;
        height: 100%;
        overflow: auto;
        transform: translateX(100%); 
        transition: transform 1s;
    }
    .chatBoxOpen {
        display: block;
        width: 410px;
        height: 99%;
        transform: translateX(0); 
        transition: transform 1s;
        display:flex;
        align-items: center;
        justify-content: center;
        //border:1px solid red;
        .chatBoxstyle{
            width: 375px;
            height: 95%;
            border-radius:20px;
            background-color: #FFFFFF;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
<<<<<<< HEAD
            .chat-head{
                margin: 20px 40px 10px 40px;
                //border: 1px solid black;
                height: 6%;
                font-family: RacingSansOne-Regular;
                font-weight:bold;
                font-size: 25px;
                color: black;
                display: flex; /* 요소를 플렉스 박스로 설정 */
                align-items: center; 
            }
=======
>>>>>>> 28baa798940cb9d95f8f47b665b8d9fe0927ed8f
        }
    }
}