.head {
  //border:1px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f3fbff;
  .logo {
    //border:1px solid black;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    .logoImage {
      height: 50px;
    }
  }
  .title {
    //border: 1px solid black;
    font-family: RacingSansOne-Regular;
    font-size: 40px;
    color: #2c90c8;
    margin-left: 5px;
  }
  .startButton-div2 {
    //border:1px solid black;
    width: 20%;
    height: 73%;
    margin-left: 1300px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .startButton2 {
      //border: 1px solid black;
      background-color: #2c90c8;
      height: 95%;
      width: 40%;
      border-radius: 60px;
      border: 0;
      color: white;
      font-size: 20px;
      font-weight: 500;
      box-shadow: 2px 2px 1px 1px rgb(190, 190, 190);
      margin-bottom: 3px;
    }
    .join-login {
      //border: 1px solid black;
      height: 40%;
      width: 40%;
      margin-right: 0px;
      margin-bottom: 3px;
      .a-login {
        color: rgb(83, 83, 83);
        font-size: 16px;
      }
      .userName {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 800;
      }
      .a-join {
        color: rgb(83, 83, 83);
        font-size: 16px;
      }
    }
  }
}
.body {
  //border:1px solid black;
  height: 82%;
  overflow-y: scroll;
  box-shadow: 5px 5px 7px 5px rgb(128, 128, 128);
  .intro {
    //border:1px solid black;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-left {
      width: 30%;
      height: 90%;
      //border:1px solid black;
      margin-left: 10%;
      .intro-title {
        //border:1px solid black;
        font-family: RacingSansOne-Regular;
        font-size: 90px;
        color: #2c90c8;
        margin-left: 10%;
        margin-top: 8%;
      }
      .intro-subtitle {
        //border:1px solid black;
        width: 500px;
        font-family: RacingSansOne-Regular;
        font-size: 20px;
        font-weight: 700;
        color: rgb(72, 72, 72);
        text-align: center;
      }
      .startButton-div {
        //border:1px solid black;
        width: 35%;
        height: 17%;
        margin-top: 30px;
        margin-left: 9%;
        .startButton {
          //border: 1px solid black;
          background-color: #2c90c8;
          height: 100%;
          width: 100%;
          border-radius: 60px;
          border: 0;
          color: white;
          font-size: 20px;
          font-weight: 500;
          box-shadow: 3px 3px 4px 1px rgb(190, 190, 190);
        }
      }
    }
    .intro-right {
      width: 50%;
      height: 100%;
      //border:1px solid black;
      padding-left: 200px;
      .deaf-image {
        height: 99%;
        //border: 1px solid black;
        float: right;
        margin-right: 160px;
      }
    }
    .img-div {
      //border:1px solid black;
      top: 1%;
      height: 95%;
      width: 40%;
    }
  }
  .info {
    //border: 1px solid black;
    box-shadow: 1px -1px 4px 3px rgb(199, 199, 199);
    height: 1500px;
    background-color: #f3fbff;
    .info-1 {
      padding-top: 100px;
      //border: 1px solid black;
      height: 40%;
      display: flex;
      justify-content: center;
      opacity: 0.2;
      transform: translateX(0);
      transition: opacity 0.5s, transform 0.5s;
      .text-div1 {
        //border:1px solid black;
        height: 40%;
        width: 20%;
        margin-top: 170px;
        margin-right: 100px;
        .text-1 {
          //border:1px solid black;
          height: 39%;
          width: 100%;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 900;
          font-size: 35px;
          text-align: center;
          //margin-left:20px;
          margin-top: 30px;
        }
        .text-2 {
          //border:1px solid black;
          height: 23%;
          width: 70%;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
          margin-left: 60px;
          margin-top: 30px;
          color: rgb(85, 85, 85);
        }
      }
      .img-div1 {
        //border:1px solid black;
        height: 70%;
        width: 35%;
        margin-top: 100px;
        margin-left: 100px;
        .communication-image {
          width: 100%;
          height: 100%;
          border-radius: 30px;
          border: 0;
        }
      }
    }
    .info-1.visible {
      opacity: 1;
      transform: translateX(0);
    }
    .info-2 {
      margin-top: 100px;
      padding-bottom: 100px;
      //border: 1px solid black;
      height: 40%;
      display: flex;
      justify-content: center;
      opacity: 0.2;
      transform: translateX(0);
      transition: opacity 0.5s, transform 0.5s;
      .text-div2 {
        //border: 1px solid black;
        height: 40%;
        width: 20%;
        margin-top: 170px;
        margin-right: 100px;
        .text-1 {
          //border:1px solid black;
          height: 37%;
          width: 100%;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 900;
          font-size: 35px;
          text-align: center;
          //margin-left:20px;
          margin-top: 30px;
        }
        .text-2 {
          //border:1px solid black;
          height: 23%;
          width: 70%;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
          margin-left: 60px;
          margin-top: 35px;
          color: rgb(85, 85, 85);
        }
      }
      .img-div2 {
        //border:1px solid black;
        height: 70%;
        width: 35%;
        margin-top: 100px;
        margin-left: 100px;
        .computer-image {
          width: 100%;
          height: 100%;
          border-radius: 30px;
          border: 0;
        }
      }
    }
    .info-2.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .manual {
    //border:1px solid black;
    height: 1000px;
    background-color: #d4f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      //border: 1px solid black;
      height: 70%;
      width: 25%;
      margin-right: 80px;
      opacity: 0;
      transform: translateX(0);
      transition: opacity 0.8s, transform 0.8s;
      .left-up {
        //border:1px solid black;
        height: 40%;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        .img-hand {
          //border:1px solid black;
          width: 50%;
          height: 100%;
          .hand-img {
            width: 100%;
            height: 100%;
          }
        }
        .arrow1 {
          //border:1px solid black;
          width: 50%;
          height: 100%;
          .right-arrow {
            color: rgb(62, 62, 62);
          }
        }
      }
      .left-down {
        //border:1px solid black;
        height: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 30px;
        color: rgb(62, 62, 62);
        padding-left: 40px;
        margin-top: 40px;
      }
    }
    .left.visible {
      opacity: 0.8;
      transform: translateX(30px);
    }
    .center {
      //border:1px solid black;
      height: 70%;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translateX(0);
      transition: opacity 0.8s, transform 0.8s;
      .messageImage {
        border-radius: 20px;
        border: 0;
      }
    }
    .center.visible {
      opacity: 0.9;
      transform: translateX(0);
    }
    .right {
      //border: 1px solid black;
      height: 70%;
      width: 25%;
      opacity: 0;
      transform: translateX(0);
      transition: opacity 0.8s, transform 0.8s;
      margin-left: 80px;
      .right-up {
        //border:1px solid black;
        height: 15%;
        margin-top: 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 30px;
        color: rgb(62, 62, 62);
        text-align: right;
      }
      .right-down {
        //border:1px solid black;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img-sound {
          //border:1px solid black;
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          .sound-img {
            width: 80%;
            height: 80%;
          }
        }
        .arrow2 {
          //border:1px solid black;
          width: 50%;
          height: 100%;
          .left-arrow {
            color: rgb(62, 62, 62);
          }
        }
      }
    }
    .right.visible {
      opacity: 0.8;
      transform: translateX(-30px);
    }
  }
}
.body::-webkit-scrollbar {
  display: none;
}
.end {
  height: 250px;
  background-color: rgb(251, 250, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  .end-center {
    //border: 1px solid black;
    width: 40%;
    height: 90%;
    .up {
      //border: 1px solid black;
      margin-top: 20px;
      height: 20%;
      display: flex;
      //justify-content: center;
      align-items: center;
      .logo {
        //border: 1px solid black;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        .logoImage {
          height: 50px;
        }
      }
      .title {
        //border: 1px solid black;
        font-family: RacingSansOne-Regular;
        font-size: 40px;
        color: #2c90c8;
        margin-left: 5px;
      }
      .up-right {
        //border: 1px solid black;
        margin-left: 50px;
        display: flex;
        //justify-content: center;
        //align-items: center;
        height: 90%;
        .service {
          //border: 1px solid black;
          font-weight: 900;
          color: gray;
          margin-left: 20px;
          margin-top: 17px;
          height: 50%;
        }
        .personal-info {
          //border: 1px solid black;
          font-weight: 900;
          color: gray;
          height: 50%;
          margin-left: 20px;
          margin-top: 17px;
        }
      }
    }
    .line {
      margin-top: 15px;
      border-top: 1px solid gray;
    }
    .down {
      margin-top: 10px;
      //border: 1px solid black;
      height: 60%;
      .down-up {
        //border: 1px solid black;
        font-weight: 500;
        margin-left: 25px;
        margin-top: 30px;
        color: rgb(59, 59, 59);
      }
      .down-center {
        //border: 1px solid black;
        font-weight: 500;
        margin-left: 25px;
        color: rgb(59, 59, 59);
      }
      .down-down {
        //border: 1px solid black;
        font-weight: 500;
        margin-top: 10px;
        margin-left: 25px;
        color: rgb(59, 59, 59);
      }
    }
  }
}
